.backCredencial2{
 background-image: url('../../Image/fondoRed.jpg');
 border-radius: 20px;
}.credencial-existens{
 padding: 10px;
 }
.credencial-actual{
 width: 30%;
 height: 100%;
 background-color: white;
 border-radius: 20px;
}
.credencial-actual .logoss{
 display: flex;
 justify-content: space-between;
 padding: 10PX;
}
.credencial-actual .logoss .logosep{
 width: 230px;
 height: 50px;
}
.credencial-actual .logoss .cbtalogo{
 width: 80px;
 height: 80px;
}
.credencial-actual .imagens{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 2px;
 width: 80%;
}
.credencial-actual .imagens .fotoAlumno{
 width: 200px;
 height: 200px;
}
.namelgo{
 margin-left: 10px;
}
.namelgo p{
 font-size: 1.5em;
}
.namelgo .carreralogo{
 width: 100px;
 height: 100px;
 top: 0;
 left: 0;
 transform: translate(20%,10%);
}
.info-credencial h1{
 font-size: 1.5em;
 text-align: center;
 padding: 10px;
}
.groups-credencial, .curp-credencial{
 display: flex;
 align-items: center;
}
.groups-credencial{
 display: flex;
 justify-content: center;
 padding: 10px;
}
.curp-credencial{
 padding: 5px;
}


.groups-credencial span, .curp-credencial span{
 text-decoration: underline;
 margin-left: 3px;
}