.backgroundFondo2{
 background-image: url('../../Image/137_31927563_2.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
}