.carousel-container{
  width: 100%;
  height:80vh;
  overflow: hidden;
}
.carousel{
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.carousel img{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}
.buttons button{
  border: 1px solid var(--boxGris);
  background-color: var(--blanco);

}
.buttons button ion-icon{
  width: 25px;
  height: 25px;
  color: var(--letraNegro);
  cursor: pointer;
}
@media (max-width:940px) {
  .carousel-container{
    width: 100%;
  }
  .carousel{
    width: 100%;
    height: 40vh;
  }
  .carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
